.review-product.products-item{
    display:  block;
}
#products{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}
#products .review-product.products-item {
    margin: 20px;
}
.btn-group >button:first-child{
    padding: 0;
}
.btn-group >button>a{
    width: 100%;
    display: block;
    height: 100%;
    padding: 5px 10px;
    background-color: #fafafa;
    color: #000000;
    outline: none;
    text-decoration: none;
    border-radius: 9px;
}
.btn-group >button>a:hover{
    background-color: #052341;
    color: #fff;
}
#search-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#search-input{
    height: 35px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 10px ;
}