
header 
    nav 
        ul  
            li
                a(href="/") Ana Səhifə
            li 
                a(href="/orders") Sifarişlər
            li 
                a(href="/products") Məhsullar   