
//- navbar
.sidebar 
    ul 
        li <i class="fa-solid fa-house"></i> Ana Səhifə
        li <i class="fa-solid fa-layer-group"></i> Məhsullar
        li.active <i class="fa-solid fa-arrow-up-from-bracket"></i> Məhsul Əlavəsi
        li <i class="fa-solid fa-store"></i> Sifarişlər