section
    label Barkodlar
    input#barcodes-input(type="text").numeric-input

    #image-input-container.d-flex.j-c-center.a-i-center
        h3 Şəkil yüklə
        input#image-input(type="file" multiple)
    ul#barcodes-menu
    button#product-preview Məhsul-a Bax