#preview-layout
    #button-containers
        button#back-to-editing Geri
        button#upload-the-product Məhsulu Yüklə
    .product-container
        .review-product.products-item
            .slider-btns
                div.slide-right <i class="fa-solid fa-chevron-right"></i>
                div.slide-left <i class="fa-solid fa-chevron-left"></i>
            .slider-container
                .slider

            .general-info
                h4.product-name Qazan 54
                h5.product-price 17
                    span   azn
            .btn-group
                a.product-details-user-level(href="https://google.com" target="_blank") Məhsulu incələ
 
                  